.Create_post{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px 0px 0px;
}
.Create_post > textarea{
    margin: 0px 10px 0px 0px;
    width: 80%;
    height: 60px;
}
.Create_post > button{
    margin-right: 10px;
    width: 100px;
    height: 40px;
    background: skyblue;
    border: 1px solid blue;
    color: white;
    padding-left: 0px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.Create_post > button:active{
    border: 3px solid blue;
}