.header{
  grid-area: h;
  background-color: #00586b;
  display: inline-block;
}
.header img{
    width: 67px;
    float: left;
    margin-left: 10px;
}
.header > div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 5px;
    color: white;
}