.description > div:nth-child(1){
    font-size: 24px;
    margin-bottom: 10px;
}
.details{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
}
.details_title{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.details_text{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 2px 0 0 10px;
}
.button{
    margin-left: 10px;
}
.inputStatus{
    padding: 3px;
}
.spanStatus{
}