html, body {
    min-height: 100%;
    margin: 0;
}

#id {
    min-height: 100%;
}

.app_wrapper {
    margin: 20px 50px 10px 50px;
    display: grid;

    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app_wrapper-content {
    grid-area: c;
    background-color: rgb(177, 177, 177);
    padding-bottom: 30px;
}