.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "dialogs message" "newMessage newMessage";
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog a {
    text-decoration: none;
    color: white;
}

.dialog a:hover {
    color: gold;
}

.messages {
    padding: 10px;
}

.newMessage {
    grid-area: newMessage;
    text-align: center;
}
.newMessage div{
}
.newMessage textarea {
    resize: none;
    width: 90%;
    height: 50px;
}

