.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 10fr 2fr;
    grid-template-areas: "dialogs message" "newMessage newMessage";
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog a {
    text-decoration: none;
    color: white;
}

.dialog a:hover {
    color: gold;
}

.messages {
    padding: 10px;
}

.newMessage {
    grid-area: newMessage;
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-gap: 5px;
    margin: 5px;
}

.newMessage textarea {
    height: 90%;
    width: 99%;
    resize: none;
}

.newMessage > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}
.newMessage button{
    height: 100%;
    width: 100%;
    text-align: center;
}
