button{
    width: auto;
    min-height: 30px;
    height: auto;
    background: #00586b;
    border: 1px solid #00586b;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
button:active{
    border: 3px solid blue;
}
button:disabled{
    background: #585a60;
    color: #414245;
    border-color: #585a60;
}